
@{
    ViewBag.Title = "IndexPrincipal";
}
<script src="~/PRUEBA/SimpleAjaxUploader.js"></script>


<style>
    #image {
        background-color: #a79e9e;
        color: white;
        padding-left: 200px;
    }

    .color {
        color: white;
        font-size: 20px;
        padding-left: 300px;
        margin-top: -10px;
    }
</style>
<br />
<div class="jumbotron" id="image">
    <h1><img src="http://www.logicone.com.do/wp-content/uploads/2017/09/cropped-IconoLogicOne-180x180.png" width="100" /> Gestion de proyectos</h1>
    <h2 class="color">Sistemas y consultorias</h2>
</div>
